.left_sidebar_logo {
    width: 20px;
    height: 20px;
}

.links_container {
    & a{
        font-size: 12px;
        font-weight: 200;
        padding-left: 2px;
        padding-right: 2px; 
    }

    .cookie {
        font-size: 14px;
    }
}